 .navelements{
        padding:0% 16% 0% 16%;
        font-size: 120%;
    }

    .main-text
{
    position: absolute;
    top: 35%;
    width: 96.66666666666666%;
    color: #FFF;
}
 .tb{
    background:rgba(186, 220, 248, 0.849);
    width:60%;
    float: none;
    margin: 5% auto;
    margin-right:40%;
    font-size: 170%;
    border: 2px solid rgb(150, 205, 250);
  }
  .tm{
    background:rgba(186, 220, 248, 0.849);
    width:50%;

    float: none;
    margin:1% auto;


    font-size: 170%;
    border: 2px solid rgb(150, 205, 250);
  }

  .box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 1px 18px 0 rgba(0, 0, 0, .5), 0 3px 5px -1px rgba(0, 0, 0, .5)
}
.abcd{
background-image:url(/static/01.jpeg);

}
.sell-more{
       border:none;
       border-radius:20px;
       background:black;
       color:white;
       font-size: 15px;
       border: none;
       padding: 5px 7px 5px 7px;


}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 1px 18px 0 rgba(0, 0, 0, .5), 0 3px 5px -1px rgba(0, 0, 0, .5)
}

    .sz{
        font-size: 70%;
        width:90%;
        padding-left:2%;
        margin-left:4%;
    }

    .lbsz{
        font-size: 90%;
        font-weight:bold;
        letter-spacing:2px;
        margin-left:4%;
    }

 .av{
        width: 30%;
        height: 30%;
        float: none;
        margin: 2% auto;
    }
    .prof{
        float: none;
        margin:4% auto;
    }
.edit-profile
{
    text-decoration:none;
    margin-right:3%;
    border-radius: 20px;
    padding: 10px;
    color:black;
    margin-left:3%;
    background:white;
}
.tk{
background:rgba(186, 220, 248, 0.925);
    width:50%;
    float: none;
    margin: 5% auto;
    margin-left:25%;
    font-size: 170%;
    border: 2px solid rgb(150, 205, 250);
    padding: 1%;
}
