<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
{% block content %}
<h2> Update Profile </h2>
<form method="post" enctype="multipart/form-data">
    <!--# multipart/form-data is necessary if your users are required to upload a file through the form-->
    {% csrf_token %}

    <p>UserName : {{user.username }}</p>
    <p>Email:  {{ user.email }}</p>

    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Save</button>

</form>
{% endblock %}
</body>
</html>