
{% extends 'app/base1.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block bids_currently_winning %}
{% if product %}
<h1 style="margin-bottom:40px; margin-left:35%; font-size:35px; color:white; font-weight:bold;">BIDS CURRENTLY RUNNING</h1>
<div style="text-align:center;  margin-left:35%;">
<table class="table tb box-shadow--6dp">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Current Bid</th>
        <th>Seller Username</th>
    </tr>
    </thead>


{% for p in product %}
    <tbody>
    <tr>
        <td>{{p.name}}</td>
        <td >{{ p.category }}</td>
        <td >{{ p.current_bid }}</td>
        <td >{{ p.seller_id}}</td>
    </tr>
    </tbody>

{% endfor %}
</table>
{% else %}
    <br>
    <h1 style="text-align:center; color: white; font-size:30px; padding:10px;">YOU ARE NOT WINNING!!!!</h1>
 {% endif %}
</div>

{% endblock %}
</body>

</html>