
<form method="post" style="margin-left:88vw; background-color:black; color:white; padding:10px; border-radius:15px; position:absolute;">
    <h3>SORT-BY:-</h3>
    {% csrf_token %}
    <button type="submit" value="new_to_old" name="sort" style="background-color:black; color:white; padding:10px; border-radius:15px;"> NEW TO OLD   </button>
    <br>
    <button type="submit" value ="old_to_new" name="sort" style="background-color:black; color:white; padding:10px; border-radius:15px;"> OLD TO NEW  </button>
    <br>
    <button type="submit" value="high_to_low" name="sort" style="background-color:black; color:white; padding:10px; border-radius:15px;"> HIGH TO LOW </button>
    <br>
    <button type="submit" value ="low_to_high" name="sort" style="background-color:black; color:white; padding:10px; border-radius:15px;"> LOW TO HIGH </button>
</form>

{% if product_list %}
    <ul>
    {% for product in product_list %}
        <li><h3><a href="{% url 'product' product.id %}" style="text-decoration:none; color: black;">{{ product.name }}</a></h3></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bids are available.</p>
{% endif %}
