<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
<form method="post" action="/category/">
    {% csrf_token %}
    <div>
        <input type="text" name="item" class="category_product" placeholder="enter category">
        <label>
            <button type="submit" class="btn-btn-danger">Search</button></label>
    </div>

</form>
<div>
    {% if messages %}
    <ul class="messages">
        {% for k in messages %}
        <li>{{k}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    {% if sr %}
      {% for k in sr %}
      <table border="0px" width="300px">
          <tr>
              <td>Name</td>
              <td>{{k.name}}</td>
          </tr>
      </table>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
</body>
</html>
