
{% extends 'app/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
{% block edit_profile %}
<h2 style="color:white;"> Update Profile </h2>
<form method="post" enctype="multipart/form-data">
    <!--# multipart/form-data is necessary if your users are required to upload a file through the form-->
    {% csrf_token %}

    <p  style="color:white;">UserName : {{user.username }}</p>
    <p  style="color:white;">Email:  {{ user.email }}</p>
    <img style="width: 20vw; height: 20vh;" alt="avatar" src="{{ user.myprofile.avatar.url }}" />
    <br><br>


    {% for field in form %}
    <p  style="color:white;">
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
    <p style="color: red;">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" style="color:black;">Save</button>

</form>
{% endblock %}
</body>
</html>