
{% extends 'app/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
{% block edit_profile %}
<div style=" margin-left:40%;">
<h2 style="color:white; font-size:35px; letter-spacing:1px; margin:5px;"> Update Profile </h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>UserName : {{user.username }}</p>
    <p>Email:  {{ user.email }}</p>
    <img style="width: 20vw; height: 20vh; border-radius:30px;" alt="avatar" src="{{ user.myprofile.avatar.url }}" />


    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
    <p style="color: red;">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Save</button>

</form>
</div>
{% endblock %}
</body>
</html>