   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online-Auction</title>
</head>
<body>
{% for error in messages %}
<p style="color: red">{{ error }}!!</p>
{% endfor %}
<center><h1> Online-Auction </h1></center>
<center><h2><i>Sell and Buy here....... </i></h2></center>

<table align="center">
    <tr>

    <a href="{% url 'signup' %}"> Sign Up</a>
    <br>

    {% if request.user.is_authenticated %}

        <td><a href="{% url 'profile' user.id %}"> View Profile </a></td>
            <br>
        <a href="{% url 'logout' %}"> log out</a>

    {% else %}
    <a href="{% url 'login' %}"> Log In</a>

    {% endif %}
    </tr>
</table>
</body>
</html>