   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online-Auction</title>
</head>
<body>
{% for error in messages %}
<p style="color: red">{{ error }}!!</p>
{% endfor %}
<center><h1> Online-Auction </h1></center>
<center><h2><i>Sell and Buy here....... </i></h2></center>

<table align="center">

<tr>
    {% if request.user.is_authenticated %}

        <td><a href="{% url 'profile' user.id %}"> View Profile </a></td>

        <td><a href="{% url 'logout' %}"> log out</a></td>

        <td><a href="{% url 'add_product'%}"> SELL PRODUCT </a></td>

        <td><a href="{% url 'buyer' %}"> BIDDING SECTION </a></td>

        <td><a href="{% url 'product_listed' %}"> PRODUCT LISTED </a></td>


    {% else %}

        <td><a style="margin-bottom: 30vw" href="{% url 'signup' %}"> Sign Up</a></td>


        <td><a href="{% url 'login' %}"> Log In</a></td>

    {% endif %}
</tr>
</table>
</body>
</html>