
{% extends 'app/login_signup_base.html' %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>

     p{
     font-size:30px;

     }
    .login{


    width:400px;
    height:400px;
    margin-top:150px;
    margin-left:500px;
    border-style: outset;}
    .heading{
    padding:0px;



    }
    h2{

    font-size:40px;
    font-weight:bolder;}
</style>
</head>
<body>

{% block login %}

<div class="login">
<center>
 <div class="heading">
     <h1 style="font-size: 50px; margin-top:10px;">ONLINE-AUCTION</h1>
     <h2 style="font-size:30px;  margin-top:20px; margin-bottom:40px;">LOGIN</h2>
 </div>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p style="font-size:20px;">
        {{ field.label_tag }}
        {{ field }}<br><br>
    </p>
    {% endfor %}

    {% for error in messages %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}

    <button type="submit" style="background-color:white; font-size:16px; padding:10px; border-radius:20px; cursor:pointer; margin-left:5%; ">LOG IN</button>

     <a href="{% url 'signup' %}" style="text-decoration:none; font-size:16px; padding:12px; border-radius: 20px; color: black; background-color:white; ">SIGNUP</a>

</form>
</center>
</div>
{% endblock %}
</body>
</html>