<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>

     p{
     font-size:30px;

     }
    .login{


    width:400px;
    height:400px;
    margin-top:150px;
    margin-left:500px;
    border-style: outset;}
    .heading{
    padding:0px;



    }
    h2{

    font-size:40px;
    font-weight:bolder;}
</style>
</head>
<body>

{% block content %}

<div class="login">
<center>
 <div class="heading">
     <h2>Login</h2>
 </div>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}
        {{ field }}<br><br>
    </p>
    {% endfor %}

    {% for error in messages %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}

    <button type="submit">Log In</button>

     <a href="{% url 'signup' %}" style="text-decoration:none; color: black; ">SIGNUP</a>

</form>
</center>
</div>
{% endblock %}
</body>
</html>