
{% extends 'app/base1.html' %}
{% load staticfiles %}
{% block bidding %}

<div style="text-align:center; font-size:20px; margin-top:40px; font-weight:bold; font-family:sans-serif;">


   <h2>Name:- {{ name }}</h2>
   <br>


   <h4>DESCRIPTION:-{{ desp}}</h4>


   <br>
   <h4>CATEGORY:-{{ category}}</h4>
   <br>

   <h4>MINIMUM BID:-{{ minbid}}</h4>
   <br>

   <h4>BID START :-{{ start}}</h4>
   <br>

   <h4>BID END:-{{ end}}</h4>
   <br>

   <h4 id="bid_value">{{ currentbid }}</h4>
<br>

<form id="form_data" method="post">

    {% csrf_token %}

    <label>{{ form.as_p }}

    </label>
    <br>
    <!--<button id="bid_button">SUBMIT BID</button>-->
    <input type="submit" value="SUBMIT">

</form>
</div>
<script>
    var loc = window.location;
    var wsStart = 'ws://';
    var endpoint = wsStart + loc.host + loc.pathname;
    var socket = new WebSocket(endpoint);

    var form_data = $('#form_data');
    var bid_input = $('#id_bidder_amount');
    var bid_holder = $('bid_value');

    socket.onmessage = function(e){
        console.log("message", e)
        <!--console.log(e.data)-->
        <!--bid_holder.innerHTML = e.data;-->
        <!--console.log(bid_holder.val(),"1")-->
        <!--bid_holder.val(e.data)-->
        bid_holder.html(e.data);
    }

    socket.onopen = function(e){
        console.log("open", e)

        form_data.submit(function(event){
            event.preventDefault()
            var bid_value = bid_input.val();
            bid_input.val('')
            <!--console.log(bid_value)-->
            var final_data = {
                'bid': bid_value
            };
            socket.send(JSON.stringify(final_data))
        })
    }

    socket.onerror = function(e){
        console.log("error", e)
    }

    socket.onclose = function(e){
        console.log("close", e)
    }
</script>
{% endblock %}
