
{% extends 'app/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block product_form %}
    <h1 style="text-align:center; font-size:35px; margin-top:10px;">Add Product</h1>
<br>
<br>
<br>
    <form method="POST" class="add_product" enctype="multipart/form-data" style="text-align:center; font-size:20px; letter-spacing:2px;">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" maxlength="50" required="" id="id_name" placeholder="Name"><br>
        <br>
        <label>Description:</label>
        <textarea name="desp" cols="40" rows="10" maxlength="100" required="" id="id_desp" placeholder="Description"></textarea>
        <br>
        <label>Category:</label>
        <select name="category" id="id_category">
  <option value="" selected>---------</option>

  <option value="Grocery">Grocery</option>

  <option value="Mobiles">Mobiles</option>

  <option value="Clothes">Clothes</option>

  <option value="Electronics">Electronics</option>

  <option value="Home Appliances">Home Appliances</option>

  <option value="Beauty">Beauty</option>

  <option value="Toys">Toys</option>

  <option value="Sports">Sports</option>

  <option value="Footwear">Footwear</option>

  <option value="Others">Others</option>

</select>
<br>

  <label for="id_minimum_price">Minimum price:</label><br>
<input type="number" name="minimum_price" value="1" id="id_minimum_price">
<br>

<button type="submit" class="save btn btn-default">Save</button>

        <!--{% for field in form %}-->
    <!--<p  style="color:black;font-size:32px;">-->
        <!--{{ field.label_tag }}<br>-->
        <!--{{ field }}-->
        <!--{% for error in field.errors %}-->
    <!--<p style="color: red;">{{ error }}</p>-->
    <!--{% endfor %}-->
    <!--</p>-->
    <!--{% endfor %}-->

        <!--<label for="your_name">Your name: </label>-->


        <!--{{ form.as_p }}-->

    </form>
{% endblock %}

</body>
</html>