<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BIDDING AREA</title>
</head>
<body>
{% block content %}

   <h2>Name:- {{ name }}</h2>
   <br>
   <br>

   <h4>DESCRIPTION:-{{ desp}}</h4>
   <br>

   <h4>CATEGORY:-{{ category}}</h4>
   <br>

   <h4>MINIMUM BID:-{{ minbid}}</h4>
   <br>

   <h4>BID START :-{{ start}}</h4>
   <br>

   <h4>BID END:-{{ end}}</h4>
   <br>

   <h4>CURRENT BID:-{{ currentbid }}</h4>


<form method="post">

    {% csrf_token %}

    <label>{{ form.as_p }}

    </label>
    <br>
    <button type="submit">SUBMIT BID</button>

</form>

{% endblock %}


</body>
</html>