
{% extends 'app/base1.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body style="background-image: url('01.jpeg');background-size: cover;">
{% block product_listed %}
{% if product %}

<h1 style="margin-bottom:40px; margin-left:40%; font-size:35px; color:white; font-weight:bold;">PRODUCTS LISTED</h1>
<div style="text-align:center;  margin-left:30%;">
<table class="table tb box-shadow--6dp">
    <thead>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Current Bid</th>
        <th>Bidder Name</th>
        <th>Sold Status</th>
    </tr>
    </thead>

{% for p in product %}
    <tbody>
    <tr>
        <td>{{p.name}}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.current_bid }}</td>
        <td>{{ p.bidder_id}}</td>
        <td>{{ p.product_sold}}</td>
    </tr>
    </tbody>
{% endfor %}
</table>
    <br>
     <a class="sell-more" href="{% url 'add_product'%}" style="text-decoration:none;  margin-left:-40% ; "> SELL MORE PRODUCT </a>
    <!--<a class ="sell-more" href="{% url 'rent_product'%}" style="text-decoration:none;  margin-left:-60% ;">RENT PRODUCT</a>-->
{% else %}
    <br>
    <h1 style="text-align:center; font-size:30px; color:white;">YOU HAVE NOT LISTED ANY PRODUCT FOR BIDDING</h1>
    <br>
    <br>
    <br>
    <a class="sell-product" href="{% url 'add_product'%}" style="text-decoration:none; margin-left:45%; margin-top:5%;">SELL PRODUCTS</a>
 {% endif %}
</div>
{% endblock %}
</body>
</html>