

{% extends 'app/base1.html' %}
{% load staticfiles %}


{% block products_rented %}


{% if rented_product %}

    {% for product in rented_product %}
      <ul class="product-list">
          <li>
              <h1><a href="{% url 'return_product' product.id %}" style="text-decoration:none;">{{ product.name }}</a></h1>
              <h2>Category:-{{ product.category }}</h2>
              <h2>Start:-{{product.rent_time_start}}</h2>
              <h2>End:-{{product.rent_time_end}}</h2>
          </li>
    <br>
    </ul>

    {% endfor %}

{% else %}
<br>
    <p style="color:white; font-size:30px; margin-left:30%;">NO PRODUCT IS AVAILABLE FOR RENT</p>
{% endif %}

{% endblock %}

