{% extends 'app/base1.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
{% block products_rented %}
{% if product %}

<h1 style="margin-bottom:40px; margin-left:40%; font-size:35px; color:white; font-weight:bold;">PRODUCTS RENTED</h1>
<div style="text-align:center;  margin-left:30%;">
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Rent</th>
        <th>Product Owner</th>
        <th>Fine</th>
        <th>Return Product</th>
    </tr>

{% for p in product %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.rent_price }}</td>
        <td>{{ p.rent_id}}</td>
        <td>{{ p.rent_fine }}</td>
        <td>
            <form method="post" style="margin-left:2vw; margin-top:-1vw;  color:black;  position:absolute;">

            {% csrf_token %}
            <br>
            <button class="issue" type="submit" value="return_product" name="return" style="cursor: pointer;  margin:6px; border-radius:10px;"> RENT PRODUCT </button>
            <br>

            </form>
        </td>
    </tr>
{% endfor %}
</table>

{% else %}
    <br>
    <h1 style="text-align:center; font-size:30px; color:white;">YOU HAVE NOT RENTED ANY PRODUCT</h1>
    <br>
     {% endif %}
</div>
{% endblock %}
</body>
</html>