{% extends 'app/base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BIDDING AREA</title>
</head>
<body>
{% block product_sold %}
<div style="text-align:center; font-size:50px; margin-top:40px; font-weight:bold; font-family:sans-serif;">
   <h2>Name:- {{ name }}</h2>
   <br>


   <h4>DESCRIPTION:-{{ desp}}</h4>
   <!--<br>-->

   <br>
   <h4>CATEGORY:-{{ category}}</h4>
   <br>

   <h4>BID START :-{{ start}}</h4>
   <br>

   <h4>BID END:-{{ end}}</h4>
   <br>

   <h4>HIGGEST BID:-{{ currentbid }}</h4>
   <br>
   <h4>ITEM SOLD TO :-{{ buyer }}</h4>
</div>
{% endblock %}
</body>
</html>