{% extends 'app/base1.html' %}
{% load staticfiles %}

<!Doctype html>

<html>
<head>

    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body style="background:rgb(215, 227, 250)">

{% block profile %}
<form class="tk box-shadow--6dp ">

    <h1 class="display-1" style="text-align:center;">MY PROFILE</h1>


<!--<img style="width: 20vw; height: 30vh; border-radius:30px;" alt="avatar" src="{{ user.myprofile.avatar.url }}"/>-->



    <h2 class="prof"><span class="glyphicon glyphicon-user"></span>  First name {{ user.myprofile.first_name }}</h2>


    <h2 class="prof"><span class="glyphicon glyphicon-user"></span>Last name:{{ user.myprofile.last_name }}</h2>


    <h2 class="prof"><i class="fa fa-venus-mars"></i>  Gender :  {{ user.myprofile.gender }}</h2>


    <h2 class="prof"><i class="fa fa-phone"></i> Contact no.  :{{ user.myprofile.phone_number }}</h2>



         <h2 class="prof"><i class="fa fa-user"></i>Username :{{ user.username }}</h2>


    <h2 class="prof"><i class="fa fa-envelope-open"></i> Email-Id :{{ user.email }}</h2>





        {% if request.user.is_authenticated %}
<div class="form-group row " >
        <div class="col-sm-10">

       <button type="submit" class="btn btn-primary" style="font-size:90%;margin-left:44%;background-color:black;"> <a href="{% url 'edit_profile' user.id %}" style="text-decoration:none;">
           Edit profile</a></button>

        {% endif %}
</div>
    </div>

</form>



{% endblock %}
</body>
</html>
