{% extends 'app/base1.html' %}
{% load staticfiles %}


{% block rent_list %}


{% if rent_product_list %}

    {% for product in rent_product_list %}
      <ul class="product-list">
          <li>
          <h1><a href="{% url 'rent_product' product.id %}" style="text-decoration:none;">{{ product.name }}</a></h1>
          <h2>Category:-{{ product.category }}</h2>
              <h2>Start time:-{{product.rent_time_start}}</h2>
              <h2>End time:-{{product.rent_time_end}} </h2>
          </li>
    <br>
    </ul>

    {% endfor %}

{% else %}
<br>
    <p style="color:white; font-size:30px; margin-left:30%;">NO PRODUCT IS AVAILABLE FOR RENT</p>
{% endif %}

{% endblock %}