{% extends 'app/base.html' %}
{% load staticfiles %}

{% block rent_product %}

<div style="text-align:center; font-size:50px; margin-top:40px; font-weight:bold; font-family:sans-serif;">


   <h2>Name:- {{ name }}</h2>
   <br>

   <h4>DESCRIPTION:-{{ desp }}</h4>


   <br>
   <h4>CATEGORY:-{{ category }}</h4>
   <br>

   <br>
   <h4>RENT PRICE:-{{ rent }}</h4>
   <br>

   <br>
   <h4>OWNED BY:-{{ owner }}</h4>
   <br>

<form method="post" style="margin-left:2vw; margin-top:-1vw;  color:black;  position:absolute;">

    {% csrf_token %}
    <br>
    <button class="issue" type="submit" name="rented" value="product_rented" style="cursor: pointer;  margin:6px; border-radius:10px;"> RENT PRODUCT </button>
    <br>

</form>

{% endblock %}
