<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block rent_form %}
<form method="POST" class="" enctype="multipart/form-data" style="text-align:center; font-size:25px; letter-spacing:2px;">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Submit">
</form>






<!--
<form method="POST" class="" enctype="multipart/form-data" style="text-align:center; font-size:25px; letter-spacing:2px;">
        {% csrf_token %}
   <label style="font-size:28px;">Name:</label>
        <input type="text" name="name1" maxlength="50" required="" id="id_name" placeholder="Name"><br>
        <br>
    <label style="font-size:28px;">Description:</label>
        <textarea name="des1" cols="30" rows="10" maxlength="100" required="" id="id_desp" placeholder="Description"></textarea>
        <br><br>
<label style="font-size:32px;">Rent Price:</label>
<input type="number" name="rent" maxlength="50" required="" id="id_rent" placeholder="Rent Price"><br>
        <br>
<label style="font-size:32px;">Fine:</label>
        <input type="number" name="fine" maxlength="50" required="" id="id_fine" placeholder="Enter Fine"><br>
        <br>
<button type="submit" class="save-rent">Save</button>-->
    {% endblock %}


</body>
</html>

