{% extends 'app/base1.html' %}
{% load staticfiles %}


{% block return_product %}
<div class="container tab box-shadow--6dp">
    <h2 style="text-align:center;">Return Section</h2>
    <table class="table table-bordered" style="font-size:20px;">
      <tbody>
        <tr>
           <td><b>Name:</b></td>
          <td>{{name}}</td>

        </tr>
        <tr>
          <td><b>Description:</b></td>
          <td>{{desp}}</td>

        </tr>
        <tr>
          <td><b>Category:</b></td>
          <td>{{category}}</td>

        </tr>
        <tr>
            <td><b>Rent:</b></td>
            <td>{{rent}}</td>

          </tr>
        <tr>
            <td><b>Owned By:</b></td>
            <td>{{owner}}</td>

        </tr>
        <tr>
            <td><b>Rent Fine:</b></td>
            <td>{{fine}}</td>

        </tr>
        <tr>
            <td><b>Rent Price:</b></td>
            <td>{{price}}</td>

        </tr>
        <tr>
            <td><b>Start Time:</b></td>
            <td>{{start}}</td>

        </tr>
        <tr>
            <td><b>End Time:</b></td>
            <td>{{end}}</td>

        </tr>
        <tr>
            <td><b>Rent Product:</b></td>
            <td>
                   <form method="post" style="margin-top:-2vw;  color:black;  position:absolute;">
                         {% csrf_token %}
                          <br>
                          <button class="issue" type="submit" value="finalreturn1" name="finalreturn" style="cursor: pointer;  padding:4px;  border-radius:30px;"> RETURN PRODUCT </button>
                          <br>

                   </form>
            </td>

        </tr>

      </tbody>

    </table>
  </div>




{% endblock %}
