
<!DOCTYPE html>
<html>
	<head>
		<title> Ajax Search</title>
		<meta charset="utf-8">
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script>


$(document).ready(function(){
  $("#button").click(function(e) {
    e.preventDefault();
    var value;

                value = document.getElementById("val1").value;
                console.log(value);

				if(value != ""){ // don't make requests with an empty string
					console.log("1");
					$.ajax({
						url: '{% "search" %}',
						data: {'searchText':value},
						dataType: "json",
						success: function(data){
						console.log("4")
							var res = "";
							// create the html with results
							for(i in data.results){
								res += "<div>"+data.results[i]+"</div>";
							}
							$("#results").html(res);
						},
					});
				}
				else{
					$("#results").html("123"); // set the results empty in case of empty string
				}
			});
          });


		</script>
	</head>
	<body>
		<h1> Search </h1>
		<input type="text" id="val1">
        <!--<button type="submit" class="submit" onclick="SearchCategory()">Search</button>
		<br>-->

        <button id="button" value="val_1" name="but">Search</button>
		<div id="results">
        </div>
	</body>
</html>