<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

<h2 style="text-align:center; font-size:40px; font-weight:bold;">SIGN UP</h2>
<center>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}<br><br>


        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

    </p>
    {% endfor %}
    <button type="submit" style= "color: green">Sign up</button>

</form>
</center>
</body>
</html>