
{% extends 'app/login_signup_base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{% block signup %}
<h1 style="font-size: 50px; margin-top:10px; margin-left:37%;">ONLINE-AUCTION</h1>
<h2 style="font-size: 30px; margin-top:20px; margin-left:46%; margin-bottom:20px;">SIGNUP</h2>
<center>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}<br><br>


        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}

    </p>
    {% endfor %}
    <button type="submit" style="background-color:white; font-size:16px; padding:10px; border-radius:20px; cursor:pointer;">SIGN UP</button>
    <a href="{% url 'login' %}" style="background-color:white; font-size:16px; padding:10px; border-radius:20px; cursor:pointer; color:black; text-decoration:none; ">LOGIN</a>

</form>
</center>
{% endblock %}
</body>
</html>