<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'app/base3.html' %}

{% block javascript %}
  <script >
      $("#id_username").change(function () {


      $.ajax({
        url: '/ajax/validate_username/',

        data: {

          'id_username':$('#id_username').val()
        },
        dataType: 'json',
        success: function (data) {

        var res="<ul>";
        var products = data['products'];
            for(var i = 0; i < products.length; i++ ){
                 console.log(products[i][0]);
                 res += "<li> <a href=\"../../buyer/" + products[i][1] + "\">" +  products[i][0] + "</a></li>";

            }
            res += "</ul>";
            $("#results").html(res);
          }

      });

    });
  </script>
{% endblock %}
{% block content %}
  <input type="text" required="" name="name" maxlength="150" id="id_username" autofocus="">
    <button type="submit">Search</button>
   <div id="results">


   </div>

{% endblock %}

</body>
</html>